<div class="card-wrapper">


	<header class="layered-info">
		<!-- only show if theres images in the slideshow -->
		<div ng-if="currentSkatepark.skateparkImages.length > 0">
			<figure class="slideshow slideshowOfImages">
				<div class="swiper-container">
					<div class="swiper-wrapper" >
						<div class="swiper-slide keep-aspect" ng-repeat="imageSrc in currentSkatepark.skateparkImages" >
							<img ng-src="{{ imageSrc }}"  class="swiper-lazy fixed-height">
							<div class="swiper-lazy-preloader"></div>
						</div>
					</div>
					<div class="swiper-pagination swiper-pagination-white" ng-if="currentSkatepark.skateparkImages.length > 1"></div>
					<div class="swiper-button-next swiper-button-white swiper-nav" ng-if="currentSkatepark.skateparkImages.length > 1"></div>
					<div class="swiper-button-prev swiper-button-white swiper-nav" ng-if="currentSkatepark.skateparkImages.length > 1"></div>
				</div>
			</figure>
			<div class="tool-image over-top" ng-if="currentSkatepark.skateparkImages.length > 0" ng-click="showSlideshowFullscreen(currentSkatepark.skateparkImages)">
				<i class="material-icons prefix">launch</i>
			</div>

		</div>

		<!-- only show if theres NO images -->
		<div ng-if="currentSkatepark.skateparkImages.length === 0">
			<img src="/img/defaultSkatepark.jpg" width="100%" alt="">
		</div>
	</header>

	<main>
		<section class="main-info-fixed">
			<h5>{{ currentSkatepark.skateparkName }}</h5>
			<time><i class="material-icons prefix tiny">face</i> {{ currentSkatepark.skateparkAdder }} added on {{ currentSkatepark.createdAt | date: 'MMM d' }} </time>
			<div class="tool-image" ng-click="showTools('')"><i class="material-icons prefix tiny">add</i> Add Screenshot</div>
		</section>

		<section class="description">
			<pre>{{ currentSkatepark.skateparkDesc }}</pre>
		</section>

		<section class="hidden-tools">
			<form action="#" class="add-skate-images">
				<!-- Ask for a remote url -->
				<div class="input-field">
					<input type="text" ng-model="addAmendment.screenshotURL">
					<label for="screenshotURL">Add Link here!</label>
				</div>
				<input type="button" value="Submit!" class="waves-effect light-blue lighten-4 btn-flat nudge" ng-click="updateSkateparkImages(currentSkatepark)">
			</form>
		</section>
	</main>

	<footer>
		<!-- Votes section -->
		<section class="votes" ng-controller="VoteCtrl as vote">
			<div class="waves-effect light-blue lighten-4 btn-flat small" ng-click="vote.incrementRating(currentSkatepark)" ng-hide="currentSkatepark.hasVote">
				<i class="material-icons left">backup</i>
				{{ currentSkatepark.skateparkRating }} votes
			</div>
			<div class="waves-effect btn-flat disabled small" ng-show="currentSkatepark.hasVote">
				{{ currentSkatepark.skateparkRating }} votes
			</div>
		</section>

		<!-- Tags section -->
		<section class="tags">
			<div class="chip " ng-repeat="tag in currentSkatepark.skateparkTags">
				{{ tag }}
			</div>
		</section>
	</footer>
</div>