<div class="card-wrapper" ng-non-bindable="">
	<header class="layered-info">
		<!-- only show if theres images in the slideshow -->
	<div ng-if="currentSkatepark.skateparkImages.length > 0">

		<figure class="slideshow slideshowOfImages">

			<div class="swiper-container">

				<div class="swiper-wrapper" >

					<div class="swiper-slide keep-aspect" ng-repeat="imageSrc in currentSkatepark.skateparkImages" >

						<img ng-src="{{ imageSrc }}"  class="swiper-lazy fixed-height">

						<div class="swiper-lazy-preloader"></div>

					</div>

				</div>
				

				<div class="swiper-pagination swiper-pagination-white" ng-if="currentSkatepark.skateparkImages.length > 1"></div>
				<div class="swiper-button-next swiper-button-white swiper-nav" ng-if="currentSkatepark.skateparkImages.length > 1"></div>
				<div class="swiper-button-prev swiper-button-white swiper-nav" ng-if="currentSkatepark.skateparkImages.length > 1"></div>
			</div>

		</figure>

	</div>

	<!-- only show if theres NO images -->
	<div ng-if="currentSkatepark.skateparkImages.length === 0">
		<img src="/img/defaultSkatepark.jpg" width="100%" alt="">
	</div>


</header>

<main>
	<section class="main-info-fixed">
		<h4>{{ currentSkatepark.skateparkName }}</h4>

		<time><i class="material-icons prefix tiny">face</i> {{ currentSkatepark.skateparkAdder }} added on {{ currentSkatepark.createdAt | date: 'MMM d' }} </time>

		<div class="tool-image" ng-click="showTools('')"><i class="material-icons prefix tiny">add</i> Add Screenshot</div>
		<div class="tool-image" ng-if="currentSkatepark.skateparkImages.length > 0" ng-click="showSlideshowFullscreen(currentSkatepark)"><i class="material-icons prefix tiny">launch</i> View Images fullscreen</div>

	</section>

	<section class="description">

		{{ currentSkatepark.skateparkDesc }}

	</section>

	<section class="hidden-tools">

			<form action="#" class="add-skate-images">

				<!-- Ask for a remote url -->
				<div class="input-field">
					<input type="text" ng-model="addAmendment.screenshotURL">
					<label for="screenshotURL">Add Link here!</label>
				</div>

				<input type="button" value="Submit!" class="waves-effect light-blue lighten-4 btn-flat nudge" ng-click="updateSkateparkImages(currentSkatepark)">

		</form>

	</section>

</main>

<footer>
	<section class="votes">

		<div class="waves-effect light-blue lighten-4 btn-flat small" ng-click="incrementRating(currentSkatepark)" ng-hide="currentSkatepark.hasVote"><i class="material-icons left">backup</i>{{ currentSkatepark.skateparkRating }} votes</div>
		<div class="waves-effect btn-flat disabled small" ng-show="currentSkatepark.hasVote">{{ currentSkatepark.skateparkRating }} votes</div>


	</section>
	<!-- COMING SOON
	<section class="comments">

		<div class="waves-effect btn-flat small" ng-click="showComments(currentSkatepark)"><i class="material-icons left">comment</i>0 comments</div>


	</section>

	-->

	<section>
		<div class="chip" ng-repeat="tag in currentSkatepark.skateparkTags" >{{ tag }}</div>
	</section>
</footer>

<!--
<div class="comments-full-window">

	<div class="waves-effect btn-flat small" ng-click="showComments(currentSkatepark)"><i class="material-icons left">comment</i>Hide Comments</div>

	<div class="row">
		<div id="disqus_thread"></div>
			<script>
			/**
			* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
			*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');

			s.src = 'http://skatelocate.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</div>
	</div>

	-->

</div>
