<li class="nudged-menu full-width">
<h5 class="collapsible-header"><i class="material-icons align faded">forward_10</i> Recently Added <i class="material-icons grn-colour">swap_vert</i></h5>
<div class="list-of-most-recent-items collapsible-body">
	<div ng-repeat="item in main.allData | limitTo: 10">

		<div class="item-name" ng-click="showSkateparkDetails(item._id, item)">
			<div class="circle"></div>
			<time class="absolute">{{ item.createdAt | date: 'd' }}</time>
			<time class="time-labels">{{ item.createdAt | date: 'MMM' }}</time>

			<header>{{ item.skateparkName }}</header>
			<summary>by {{ item.skateparkAdder }}</summary>
		</div>

	</div>
</div>
</li>