<div class="pad toolbar-panel-background">
	<div class="input-field pad">
		<i class="material-icons prefix nudged-icon">search</i>
		<input type="text" ng-model="searchString" id="search-parks"></input>
		<label for="search-parks">Search</label>
	</div>
	<div class="search-results">
		<h5 ng-show=main.visibleMarkers.length>Results  [{{main.visibleMarkers.length}}]</h5>

		<ul>
			<li ng-repeat="result in main.visibleMarkers" ng-click="main.showSkateparkDetails(result.internalId, result)">
				{{ result.title }}
			</li>
		</ul>
	</div>
</div>